/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:wght@200&display=swap');
/* Styling for pc */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body { 
    background: black;
    text-align: center;
}
.heading {
    margin-top: 10rem;
    font-size: 1000;
    transition: 2s ease;
    display: inline-block;
    font-size: 100px;
    line-height: 0.9;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    background: linear-gradient(96deg,#0fbfae, #0884c2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  }
.heading:hover{
        letter-spacing: 10px;
}
.quote{
    font-family: 'Raleway', sans-serif;
    font-size: 500;
    color: #eee;
}
.down{
    transform:rotate(90deg);
    font-family: 'Roboto', sans-serif;
    color: #eee;
    cursor: pointer;
    font-weight: 850;
    margin-top: 7.5rem;
    transition: 0.5s ease;
}
.down:hover{
    margin-top: 8rem;
}


/*  Responsiveness */
