/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:wght@200&display=swap');
html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
  }
/*colors*/
:root{
  --color-1: #0F222D;
  --color-2: ;
  --color-3: #FCA311;
  --color-4: #e8e5d3;
  --color-5: #fff;
}
/*content*/